body {
    background-color: #1e293b;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.order-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #2d3748;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.order-id {
    font-size: 1.2em;
    font-weight: bold;
}

.order-detail {
    font-size: 1em;
    margin-bottom: 15px;
}
